$button: #ff0000;
$main-background: #c4c4c4;
$background: #e5e5e5;
$text: #000;
$footer: #000;
$text-description: #9c9696;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $text;
}
